
p {
  color: blue;
}
.personalinfo {
  width: 500px;
  margin: auto;
}
.name {
  font-size: 40px;
}
.mainbody {
  font-size: 20px;
}
.aboutme {
  font-size: 15px;
}
.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
